#showing-javascript {
  display: none;
}

#hidden-javascript {

}

#showing-operators {
  display: none;
}

#hidden-operators {

}
#showing-variables {
  display: none;
  
}


.click-js-hidden {

}

.click-js-showing {

}
